@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-24 gap-y-2 flex flex-col">
    @* <h1 class="text-center font-bold text-5xl">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

    

<div class="self-center max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
        
    <img class="rounded-t-lg" src="https://media.cnn.com/api/v1/images/stellar/prod/180308165131-one-plus-partnership-shanghai-1.jpg?q=w_1160,c_fill/f_webp" alt="" />
    
    <div class="p-5">

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Movie management</h5>

        <p class="mb-3 font-normal text-gray-400">The ultimate movie management that you really want in your business.</p>
        <a asp-page="./Movies/Index" class="group inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black bg-yellow-300 hover:shadow-md shadow-lg shadow-amber-300 rounded-lg outline-none  transition-all duration-300">
            Get started
             <svg class="group-hover:translate-x-1 rtl:rotate-180 w-3.5 h-3.5 ms-2 duration-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>


</div>
